---
import Base from "@/layouts/Base.astro";
import { getEntryBySlug } from "astro:content";

const entry = await getEntryBySlug("services", "index");
const { Content } = await entry.render();
---

<Base title={entry.data.title}>
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="mx-auto lg:col-10">
          <div class="content">
            <Content />
          </div>
        </div>
      </div>
    </div>
  </div>
</Base>
