---
import Base from "@/layouts/Base.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const allProjects = await getCollection("projects");
  return allProjects.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Base title={entry.data.title}>
  <section class="section">
    <div class="container">
      <div class="row">
        <article class="col-12 mx-auto content">
          <h1>{entry.data.title}</h1>
          <Content />
        </article>
      </div>
    </div>
  </section>
</Base>
